@{
    ViewBag.Title = "Patient Information";
}

<div class="container mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h1>Patient Information</h1>
            <div class="form" id="piForm">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="hidden" id="hdnPatientsInfoId" name="hdnPatientsInfoId" value="0">
                        <label for="patientName" class="fw-bold">Patient Name:<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="patientName" placeholder="Enter patient name">
                    </div>
                    <div class="col-md-12">
                        <label for="ddlDiseases" class="fw-bold">Diseases Name:<span style="color: red;">*</span></label>
                        <select class="form-control" id="ddlDiseases">
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="ddlEpilepsy" class="fw-bold">Epilepsy:<span style="color: red;">*</span></label>
                        <select class="form-control" id="ddlEpilepsy">
                            <option value="-1">-- Select one --</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="ddlNCDs" class="fw-bold">Other NCDs:</label>
                        <select class="form-control" name="ddlNCDs" id="ddlNCDs" multiple>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="ddlAllergies" class="fw-bold">Allergies:</label>
                        <select class="form-control" name="ddlAllergies" id="ddlAllergies" multiple>
                        </select>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="mt-3 col-md-2">
                            <button id="submitButton" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="row d-flex justify-content-center hidden" id="SuccessMsg">
            <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Data submitted successfully. <a href="@Url.Action("Home", "Index")">View</a> Data
            </div>
            </div>
            <div class="row d-flex justify-content-center hidden" id="ErrorMsg">
            <div class="alert alert-warning" role="alert">
            <strong>Sorry!</strong> Data not saved.
            </div>
            </div> *@
            <!-- Success alert -->
            <div id="successAlert" class="alert alert-success mt-3" role="alert" style="display: none;">
                <strong>Success!</strong> Data submitted successfully. <a href="@Url.Action("PatientInformationsList", "PatientInformation")">View</a> Data
            </div>

            <!-- Error alert -->
            <div id="errorAlert" class="alert alert-danger mt-3" role="alert" style="display: none;">
                <strong>Sorry!</strong> Data not saved.
            </div>
        </div>
    </div>
</div>

<!-- JS -->
<script>
    $(document).ready(function () {
        loadddlDiseases();
        loadddlNCDs();
        loadddlAllergies();
        var url = window.location.href;
        var regex = /[?&]id=(\d+)/;
        var match = regex.exec(url);
        var id = 0;
        if (match !== null) {
            id = parseInt(match[1]);
            $('#hdnPatientsInfoId').val(id);
        }
        setTimeout(function () {
            loadPatientData(id);
        }, 500);
    });

    function loadddlDiseases() {
        $.ajax({
            url: '/PatientInformation/GetDiseaseInformationList',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                $('#ddlDiseases').empty();
                $('#ddlDiseases').append(`<option value="0">-- Select one --</option>`);
                $.each(response.data, function (index, option) {
                    $('#ddlDiseases').append(`<option value="${option.diseaseId}">${option.diseaseName}</option>`);
                });
            },
            error: function (xhr, status, error) {
                console.error('Error loading ddlDiseases dropdown options:', error);
            }
        });
    }

    function loadPatientData(id) { 
        var data = {
            PatientsInfoId: id
        };

        $.ajax({
            url: '/PatientInformation/GetPatientInformation',
            method: 'POST',
            dataType: 'json',
            data: data,
            success: function (response) {
                console.log(response);
                if (response.status == 200) {
                    debugger;
                    $('#patientName').val(response.pdata.patientName);
                    $('#ddlDiseases').val(response.pdata.diseasesId);
                    if (response.pdata.epilepsy != 1) {
                        $('#ddlEpilepsy').val(0);
                    } else {
                        $('#ddlEpilepsy').val(1);
                    }

                    var result = [...response.pdata.otherNCDs];
                    // $('#ddlNCDs').val(result).trigger("change");

                    // var options = [];
                    // for (var i = 0; i < result.length; i++) {
                    //     let opt = $("#ddlNCDs option[value=" + result[i] + "]");
                    //     options.push(opt);
                    // }// $("#ddlNCDs .input-container").append(...options).trigger('change');

                    var ddlNCDs = document.getElementById("ddlNCDs");
                    for (var i = 0; i < ddlNCDs.options.length; i++) {
                        var option = ddlNCDs.options[i];
                        if (response.pdata.otherNCDs.includes(parseInt(option.value))) {
                            option.selected = true;
                            option.setAttribute("selected", "selected");
                            // var event = new Event("change", {
                            //     bubbles: true,
                            //     cancelable: true,
                            // });
                            // ddlNCDs.dispatchEvent(event);
                            //option.dispatchEvent(new Event('change', { bubbles: true }));
                            //$('#ddlNCDs').multiselect('refresh');
                        }
                    }
                    $('#ddlNCDs').val(result).trigger("change");

                    var result1 = [...response.pdata.allergies];
                    var ddlAllergies = document.getElementById("ddlAllergies");
                    for (var i = 0; i < ddlAllergies.options.length; i++) {
                        var option = ddlAllergies.options[i];
                        if (response.pdata.allergies.includes(parseInt(option.value))) {
                            option.selected = true;
                            option.setAttribute("selected", "selected");
                        }
                    }
                    $('#ddlAllergies').val(result1).trigger("change");
                }
            },
            error: function (xhr, status, error) {
                console.error('Error submitting data:', error);
            }
        });
    }

    function loadddlNCDs() {
        $.ajax({
            url: '/PatientInformation/GetNCDsList',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                $('#ddlNCDs').empty();
                $.each(response.data, function (index, option) {
                    $('#ddlNCDs').append(`<option value="${option.ncdId}">${option.ncdName}</option>`);
                });

                new MultiSelectTag('ddlNCDs', {
                    rounded: true,
                    shadow: true,
                    placeholder: 'Search NCDs...',
                    tagColor: {
                        textColor: '#327b2c',
                        borderColor: '#43f1f7',
                        bgColor: '#e8feff',
                    },
                    onChange: function (values) {
                        console.log(values)
                    }
                })

            },
            error: function (xhr, status, error) {
                console.error('Error loading ddlNCDs dropdown options:', error);
            }
        });
    }

    function loadddlAllergies() {
        $.ajax({
            url: '/PatientInformation/GetAllergiesList',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                debugger;
                $('#ddlAllergies').empty();
                $.each(response.data, function (index, option) {
                    $('#ddlAllergies').append(`<option value="${option.allergyId}">${option.allergyName}</option>`);
                });

                new MultiSelectTag('ddlAllergies', {
                    rounded: true,
                    shadow: true,
                    placeholder: 'Search allergies...',
                    tagColor: {
                        textColor: '#327b2c',
                        borderColor: '#43f1f7',
                        bgColor: '#e8feff',
                    },
                    onChange: function (values) {
                        console.log(values)
                    }
                })

            },
            error: function (xhr, status, error) {
                console.error('Error loading ddlAllergies dropdown options:', error);
            }
        });
    }

    function showSuccessMessage() {
        $('#errorAlert').hide();
        $('#successAlert').fadeIn();
    }

    function showErrorMessage() {
        $('#successAlert').hide();
        $('#errorAlert').fadeIn();
    }

    $('#submitButton').click(function () {
        debugger;
        var PatientsInfoId = $('#hdnPatientsInfoId').val();
        var patientName = $('#patientName').val();
        var diseasesId = $('#ddlDiseases').val();
        var epilepsy = $('#ddlEpilepsy').val();
        var otherNCDs = $('#ddlNCDs').val();
        var allergies = $('#ddlAllergies').val();
        var data = {
            PatientsInfoId: PatientsInfoId,
            patientName: patientName,
            diseasesId: diseasesId,
            epilepsy: epilepsy == 1 ? true : false,
            otherNCDs: otherNCDs,
            allergies: allergies
        };

        $.ajax({
            url: '/PatientInformation/SavePatientInformation',
            method: 'POST',
            dataType: 'json',
            data: data,
            success: function (response) {
                console.log(response);
                if (response.status == 200) {
                    debugger;
                    showSuccessMessage();
                }
            },
            error: function (xhr, status, error) {
                console.error('Error submitting data:', error);
                showErrorMessage();
            }
        });
    });
</script>